   <div class="container">
   	  <div class="row">
   	  	 <div class="col-md-2" id="navigation">
           <div class="container"  >
   	         <div class="row"  >
              <div class="col-md-12" id="profile-item" >
               <img src="images/administrator.png" height="70px" width="70px" > 
               <strong>{{username}}</strong> 
  	          </div>
            </div>
            <div class="row">
            	<div class="col-md-2" id="navigation-links">
     	 	 <div id="nav">
     	 	  <ul class="nav">
            <li class="position"><a href="/admin/index" title="Dashboard" ><i class="fa fa-home fa-2x"></i><br>Dashboard</a></li>
            <li class="position"><a href="/admin/profile" title="Profile"><i class="fa fa-user fa-2x"></i><br>Profile</a></li>
          <li class="position "><a href="/admin/userlist" title="Users"><i class="fa fa-user fa-2x"></i><br>Users</a></li>
          <li class="position"><a href="/admin/bookings" title="Booking"><i class="fa fa-user fa-2x"></i><br>Bookings</a></li>
          <li class="position"><a href="/admin/movieslist" title="Movies"><i class="fa fa-search fa-2x"></i><br>Movies</a></li>
      </ul>
     	 	 </div>
     	 </div>
            </div>
          </div> 
        </div>
   	  </div>
   	  <div id="activity-items">
   	  <div id="title-con">
   	  	 <ol class="breadcrumb navbar-right">
   	  	<li class="active"><a href="/admin/index">Home</a></li>
        <li class="active"><a href="/admin/bookings">Bookings</a></li>
   	  </ol>
   	  <h2>Dashboard</h2>
   	  </div>
   	
         <div class="row">
        <div class="col-md-2">
        
        </div><br><br>
          
            <div class="col-md-12" id="movie-table">
              <table class="table">
              <h3>List of Movies</h3>

              {{#if err}}
                  <th class="col-md-offset-4"><i class="fa fa-exclamation-triangle fa-2x"></i>No data found!</th>
              {{else}}
                <thead><th><strong>Id</strong></th><th><strong>Movie ID</strong></th><th><strong>Username</strong></th><th><strong>Quantity</strong></th><th><strong>Total Cost</strong></th><th><strong>Posted</strong></th><th></th></thead>
                  {{#each booking as |bookings|}}
                      <tbody>
                        <tr><td>{{bookings.id}}</td><td>{{bookings.movieid}}</td><td>{{bookings.user}}</td>
                        <td>{{bookings.quantity}}</td><td>{{bookings.totalcost}}</td><td>{{bookings.post}}</td><td><a href="">Delete</a></td></tr>
                      </tbody>
                  {{/each}}
              {{/if}}
                  
              </table>

           </div>

        </div>
   	  </div>
   </div>
