    <div id="hero-image-single" style="background-image: url('/images/{{movie.movie_poster}}')">
        <h1 id="hero-title">BOOK MOVIE</h1>
        
    </div>

    <div class="content-padding clearfix">

        <div>
            <h3 id="hero-title">{{ movie.movie_title}}</h3>
        </div>

        <div class="poster-wrapper">
            <img src="/images/{{movie.movie_poster}}" class="img-responsive">
        </div>

        <form id="form" name="form" action="" method="POST">
                    
                    <div class="col-md-4">
                     <label>Movie ID:</label>
                        <input type="text" name="name" class="form-group form-control" required value="{{movie.id}}">
                    </div>
                    <div class="col-md-4">
                     <label>Movie Title:</label>
                        <input type="text" name="username" class="form-group form-control" required value="{{movie.movie_title}}">
                    </div>
                    <div class="col-md-4">
                     <label>Username:</label>
                        <input type="email" name="email" class="form-group form-control" required value="{{users.username}}">
                    </div>
                    <div class="col-md-4">
                     <label>Cost:</label>
                        <input type="number" name="phone_no" class="form-group form-control" required value="{{movie.cost}}">
                    </div>
                    <div class="col-md-4">
                     <label>Quantity:</label>
                        <input type="text" name="location" class="form-group form-control" required>
                    </div>
                    <div class="col-md-4">
                     <label>Total Amount:</label>
                        <input type="password" name="password" class="form-group form-control" required>
                    </div>
        </form>            

        <div class="col-md-6">
           <button class="btn btn-info" type="submit">Book Movie</button>
        </div>
    </div>